{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/about-bg.jpg')}}); max-width:100%;max-height:100%">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This why we do what we do</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>A period of forty always usher in a time of revival and rebirth. it always determines the realization of identity of a person and nation; For this reason we have chosen to make it loud on the occasion of our 40th birthday celebration</p>
        <p>We have enjoyed grace to witness forty years of purposeful living, unquantifiable measures of favour, uncompromising love of God.</p>
        <p>We have in forty years met numerous wonderful souls that had in no measure contributed to our social existence,earthly living, experiential growth, progressive discoveries either through being a family member, friend, colleague, covenant brother and sister, teacher, instructors, father, mother, etc</p>
        <p>As we commend your manifold contributions, we request that you join us in celebrating this birthday week in a way most desirous to us</p>
        <p>We have elected to celebrate this day with you in mind; and we therefore invite you to be a part of this celebrations by walking with us through the path that spreads more love to our world.</p>
        <p>We are by this notice humbly requesting that our friend and family share the love of Jesus Christ by giving $10 or N1,000 Naira to anyone you have not met before nor seen for over three(3) months.</p>
        <p>Thank You</p>
        <br>
        <i>Taiwo & Kehinde <strong>Adeoye</strong></i>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}