{% extends 'bootstrap/base.html' %}

# Add import for bootstrap wtf quickform support
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Say Something</h1>
            <span class="subheading">Tell us how you are a blessing to a stranger today</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
<!--        Load ckeditor-->
        {{ ckeditor.load() }}
        
<!--        Configure the ckeditor to tell it which field in WTForm will need to be a CKEditor.-->
        {{ ckeditor.config(name='body') }}
        
<!--        Add WTF quickform-->
        {{ wtf.quick_form(form, novalidate=True) }}
      </div>
    </div>
  </div>

<script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

{% include "footer.html" %}
{% endblock %}